@model Courier_Management_System.Models.deliveryMan

@{
    Layout = null;
}




<!doctype html>
<html large="en">
<head>
    <meta charset="utf-8">
    <title>Easy Courier</title>
    <link rel="stylesheet" type="text/css" href="style1.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<style>
    body {
        margin: 0px;
        padding: 0px;
    }

    .pic {
        margin-left: 20px;
        margin-right: 20px;
    }


    .nav {
        background-color: midnightblue;
        list-style: none;
        text-align: center;
        color: lightseagreen;
        padding: 10px 0 10px 0;
        overflow: hidden;
    }

        .nav > li {
            display: inline-block;
            padding: 0 25px 0 25px;
        }

            .nav > li > a {
                text-decoration: none;
                color: lightpink;
            }

                .nav > li > a:hover {
                    color: darkslategrey;
                }

    .field {
        height: 100%;
        width: 98%;
        padding: 0 px;
        margin: 0px;
    }

        .field > ul {
            text-align: center;
            font-size: 30px;
            color: blue;
            font-family: Calibri;
        }
</style>

<body>

    <ul class="nav">
        <li style="color:papayawhip;font-size:30px;padding:0px;margin:0px;">EASY COURIER</li>
        <li>@Html.ActionLink("Pickup Request", "AdminHome", "booking")</li>
        
        <li>@Html.ActionLink("Delivery Man", "showDeliveryman", "DeliveryMan")</li>
        <li>@Html.ActionLink("Logout", "Logout", "usersite")</li>


    </ul>


    <ul class="pic">
        <img src="~/Content/Images/background3.jpg" alt="..." style="width:100%">
    </ul>
    <h2 style="margin-bottom:50px;margin-left:60px;margin-top:50px;color:maroon">Delivery Man</h2>

     <div class="col-md-9">
        @using (Html.BeginForm("addDeliveryMan", "DeliveryMan", FormMethod.Post))
        {
            <form >
                <fieldset>
                    <legend>Delivery Man Info:</legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.dFirstName, new { @class = "form-control", @placeholder = "First Name" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.dLastName, new { @class = "form-control", @placeholder = "Last Name" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.dAddress, new { @class = "form-control", @placeholder = "Address:(eg:House no: ,Area name:)" })
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.dPhoneNo, new { @class = "form-control", @placeholder = "Phone No:" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.dSalary, new { @class = "form-control", @placeholder = "Salary" })
                        </div>
                    </div>

                </fieldset>
               
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" value="Submit" />

                    </div>
                </div>





            </form>
        }


    </div>







</body>
</html>



